.container .header h2 {
  text-align: center;
  padding-top: 15%;
  color: green;
  font-size: 300%;
}
.container {
  text-align: center;
  place-items: center;
}
.container .header #value {
  font-weight: 900;
  font-size: 400%;
}
#btn1 {
  justify-content: center;
  margin-top: 4%;
}
#btn2 {
  margin-top: 4%;
}
#btn3 {
  margin-top: 4%;
}
